  <%- include("header-1") -%>
  <title>Explore Coffee - World Coffee House</title>
  <%- include("header-2") -%>
  <!-- Native CSS -->
  <link rel="stylesheet" href="css/cart.css">
</head>

<body>

  <section id="top-section">

    <%- include("navbar-logged-in") -%>

    <div class="top-div table-responsive">
      <form action="/cart" method="post">
        <h1 class="h1-1">Your <span class="coffee brown">Cart</span></h1>
        <div class="cart table-responsive">
          <table class="table align-middle w-100 d-block d-md-table d-sm-table">
            <thead>
              <tr class="table-heading">
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
                <th></th>
              </tr>
            </thead>

              <tbody>
                <% let totalQty = 0; %>
                <% let totalPrice = 0; %>
                <% items.forEach((item) => { %>
                  <tr>
                    <td><img src="<%= item.imgSrc %>" alt=""></td>
                    <input type="hidden" name="imgSrc" value="<%= item.imgSrc %>">
                    <td><%= item.product %></td>
                    <input type="hidden" name="product" value="<%= item.product %>">
                    <td class="price"><%= item.price %>/-</td>
                    <input type="hidden" name="price" value="<%= item.price %>">
                    <td class="qty"><%= item.qty %></td>
                    <input type="hidden" name="qty" value="<%= item.qty %>">
                    <td class="total"><%= item.total %>/-</td>
                    <input type="hidden" name="totalPrice" value="<%= item.total %>">
                    <td><button class="btn btn-sm delete" name="deleteOne" value="<%= item.id %>" type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="fas fa-trash"></i></button></td>
                  </tr>
                  <input type="hidden" name="type" value="<%= item.type %>">
                  <% totalQty = totalQty + parseInt(item.qty.slice(0, 1)); %>
                  <% totalPrice = totalPrice + parseInt(item.total); %>
                <% }); %>

            </tbody>

            <tfoot>
              <tr>
                <td>TOTAL:</td>
                <td class="numberOfItems"><%= items.length %> Item(s)</td>
                <td>-</td>
                <td><%= totalQty %> Kg</td>
                <input type="hidden" name="totalQty" value="<%= totalQty %>">
                <td>₹ <%= totalPrice %>/-</td>
                <input type="hidden" name="totalPrices" value="<%= totalPrice %>">
                <td><button class="btn btn-lg delete" name="deleteAll" value="deleteAll" type="submit" data-bs-toggle="tooltip" data-bs-placement="top" title="Empty cart"><i class="fas fa-trash"></i></button></td>
              </tr>
            </tfoot>
          </table>
        </div>

        <h1 class="h1-2">Confirm Order</h1>

          <div class="address-div">
            <div class="address-title">
              <h3>Delivery Details</h3>
            </div>
            <div class="name-div">
              <h4><%= user.name %></h4>
            </div>
            <div class="contact-div">
              <h4><%= user.contact %></h4>
            </div>
            <div class="address-body">
              <h4><%= user.address %></h4>
            </div>
          </div>

          <input id="date" type="hidden" name="date">
          <button name="confirm" value="true" class="btn btn-lg proceed-btn" type="submit">Confirm</button>
      </form>
    </div>

  </<section>

  <%- include("footer-logged-in") -%>

  <script type="text/javascript">

    let time = new Date();

    let options = {
        year: "numeric",
        day: "numeric",
        month: "long"
    };

    $("#date").attr("value", time.toLocaleDateString("en-US", options));

  </script>
  <script src="js/coffee-beans.js" charset="utf-8"></script>
  <script src="js/cart.js" charset="utf-8"></script>
</body>

</html>
