
    <%- include("header-1") -%>
    <title>Login - World Coffee House</title>
    <%- include("header-2") -%>
    <!-- Native CSS -->
    <link rel="stylesheet" href="css/login.css">
  </head>

  <body>

    <section id="top-section">

      <%- include("navbar") -%>

      <div class="top-div">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-12 left">
              <h1>Sign Up</h1>
              <form class="signup-form" action="/signup" method="post">

                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                  <input required name="name" type="text" class="form-control name" id="exampleInputName" placeholder="Name" value="<%= name %>">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
                  <input required name="contact" type="number" class="form-control contact" id="exampleInputContact" placeholder="Contact number" maxlength="10" value="<%= contact %>">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-marker-alt"></i>&nbsp;</span>
                  <input required name="address" type="text" class="form-control address" id="exampleInputAddress" placeholder="Address"  value="<%= address %>">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                  <input required name="username" type="email" class="form-control username" id="exampleInputEmail1" placeholder="Email"  value="<%= username %>">
                </div>
                <span class="errMsg"><%= errMsg %></span>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                  <input required name="password" type="password" class="form-control password" id="Password1" placeholder="Password"  value="<%= password %>">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                  <input required type="password" class="form-control password" id="Password2" placeholder="Confirm password"  value="<%= password %>">
                </div>
                <div class="input-group mb-3 checkbox-div">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox">
                    </div>
                  </div>
                  <label for="">I agree to the terms</label>
                </div>
                <button type="button" class="btn btn-lg signup-button">Sign Up</button>

              </form>
            </div>

            <div class="col-md-6 col-sm-12 right">
              <h1>Log In</h1>
              <form class="login-form" action="/login" method="post">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-at"></i></span>
                  <input required type="email" class="form-control" name="username" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Email" value="<%= loginEmail %>">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
                  <input required type="password" class="form-control" name="password" id="exampleInputPassword3" placeholder="Password" value="<%= loginPassword %>">
                </div>
                <span class="errMsg"><%= loginErrMsg %></span>
                <button type="submit" class="btn btn-lg">Log In</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    <%- include("footer") -%>

    <script src="js/login.js" charset="utf-8"></script>
  </body>
</html>
