<%- include("header-1") -%>
<title>Explore Coffee - World Coffee House</title>
<%- include("header-2") -%>
<!-- Native CSS -->
<link rel="stylesheet" href="css/orders.css">
</head>

<body>

<section id="top-section">

  <%- include("navbar-logged-in") -%>

  <div class="top-div table-responsive">
    <h1>Your <span class="coffee brown">Orders</span></h1>
    <div class="cart table-responsive">
      <table class="table align-middle w-100 d-block d-md-table d-sm-table d-table">

        <thead>
          <tr class="table-heading">
            <th>Date</th>
            <th>View Order</th>
          </tr>
        </thead>

        <tbody>
          <% orders.forEach((item) => { %>
            <tr>
              <td><%= item.date %></td>
              <form class="" action="/orders/<%= item._id %>" method="post">
                <input type="hidden" name="orderID" value="<%= item._id %>">
                <td><button class="btn btn-lg" type="submit"><i class="fas fa-chevron-circle-right"></i></button></td>
              </form>
            </tr>
          <% }); %>
        </tbody>

      </table>
    </div>
  </div>

</<section>

<%- include("footer-logged-in") -%>
<script src="js/cart.js" charset="utf-8"></script>
</body>

</html>
